@model E_Veterinar.Models.Zaloga

@{
    ViewData["Title"] = "Delete";
}

<h3>Ali ste prepričani, da želite izbrisati ta vnos?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Količina:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina) kos
        </dd>
        <dt class = "col-sm-2">
            Artikel:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIzdelekNavigation.Ime)
        </dd>
        <dt class = "col-sm-2">
            Vnesel:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeterinarNavigation.Ime)
            @Html.DisplayFor(model => model.IdVeterinarNavigation.Priimek)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdIzdelek" />
        <input type="hidden" asp-for="IdVeterinar" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazaj na zalogo</a>
    </form>
</div>
