@model E_Veterinar.Models.Termin

@{
    ViewData["Title"] = "Create";
}

<h4>Nov termin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Veterinar
                <select asp-for="IdVeterinar" class ="form-control" asp-items="ViewBag.IdVeterinar"></select>
            </div>
            <div class="form-group" style="margin-top: 10px">
                Datum in čas začetka
                <input asp-for="DatumZacetka" class="form-control" />
                <span asp-validation-for="DatumZacetka" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                Datum in čas konca
                <input asp-for="DatumKonca" class="form-control" />
                <span asp-validation-for="DatumKonca" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px">
                <input type="submit" value="Ustvari" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Nazaj</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

