@model E_Veterinar.Models.Termin

@{
    ViewData["Title"] = "Edit";
}

<h4>Ali želite potrditi ta termin?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVeterinar" />
            <input type="hidden" asp-for="DatumZacetka" />
            <input type="hidden" asp-for="DatumKonca" />
            <input type="hidden" class="form-check-input" asp-for="JeZaseden" />
            <input type="hidden" class="form-check-input" asp-for="JePotrjen" />
            @* <select type="hidden" asp-for="IdStranka" class="form-control" asp-items="ViewBag.IdStranka"></select> *@
            <div class="form-group">
                <input type="submit" value="Potrdi" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Nazaj</a>
            </div>
        </form>
    </div>
</div>

